<script lang='ts'>
    import { onMount } from 'svelte'
    import ForceGraph, { type ForceGraphInstance, type LinkObject, type NodeObject } from 'force-graph'

    import { n, matrix } from './graphData'
    import init, * as rustGraph from '../../pkg/rust_graphs.js'

    const NODE_COLORS = [ 'blue', 'red', 'green' ]
    const EDGE_COLOR = 'gray'
    const EDGE_WIDTH = 1
    const BRIDGE_COLOR = 'black'
    const BRIDGE_WIDTH = 2

    let container: HTMLElement
    let graphView: ForceGraphInstance
    let graph: rustGraph.Graph

    onMount(async () => {
        await init()

        graphView = ForceGraph()(container)
            .width(800)
            .height(600)
            .backgroundColor('#EEEEEE')
            .nodeCanvasObject((node, ctx) => drawNode(ctx, node))
            .linkCanvasObject((link, ctx) => drawLink(ctx, link))
        
        updateGraphs($n, $matrix)

        n.subscribe((value) => updateGraphs(value, $matrix))
        matrix.subscribe((value) => updateGraphs($n, value))
    })


    function updateGraphs(n: number, matrix: Array<Array<Boolean>>) {
        const links = []
        const flatMatrix = []
        for (let i = 0; i < n; ++i) {
            for (let j = 0; j < n; ++j) {
                flatMatrix.push(matrix[i][j] ? 1 : 0)
                if (matrix[i][j]) {
                    links.push({
                        source: i,
                        target: j
                    })
                }
            }
        }
        
        graphView.nodeCanvasObject((node, ctx) => drawNode(ctx, node))
        graphView.linkCanvasObject((link, ctx) => drawLink(ctx, link))
        graphView.graphData({
            nodes: [...Array(n).keys()].map(i => ({ id: i })),
            links: links
        })

        graph = rustGraph.Graph.from_matrix(n, new Uint32Array(flatMatrix))
    }

    function drawNode(ctx: CanvasRenderingContext2D, node: NodeObject, colors: string[] | null = null) {
        ctx.fillStyle = colors ? colors[parseInt(node.id!.toString())] : NODE_COLORS[0]
        ctx.beginPath()
        ctx.arc(node.x!, node.y!, 5, 0, 2 * Math.PI, false)
        ctx.fill()

        ctx.fillStyle = 'white'
        ctx.font = '8px Sans-Serif'
        ctx.textAlign = 'center'
        ctx.textBaseline = 'middle'
        ctx.fillText(node.id!.toString(), node.x!, node.y!)
    }

    function drawLink(ctx: CanvasRenderingContext2D, link: LinkObject, bridges: Set<string> | null = null) {
        const from = link.source as NodeObject
        const to = link.target as NodeObject

        ctx.strokeStyle = bridges && (bridges.has(from.id + ',' + to.id)) ? BRIDGE_COLOR : EDGE_COLOR
        ctx.lineWidth = bridges && (bridges.has(from.id + ',' + to.id)) ? BRIDGE_WIDTH : EDGE_WIDTH
        ctx.beginPath()
        ctx.moveTo(from.x!, from.y!)
        ctx.lineTo(to.x!, to.y!)
        ctx.stroke()
    }

    function findComponents() {
        const components = graph.get_components()
        const colors = Array.from(components).map(i => NODE_COLORS[i % NODE_COLORS.length])
        
        graphView.nodeCanvasObject((node, ctx) => drawNode(ctx, node, colors))
    }

    function findBridges() {
        const bridges = graph.get_bridge_edges()
        console.log(bridges)
        const colors = new Set<string>
        for (let i = 0; i < bridges.length; i += 2) {
            colors.add(bridges[i] + ',' + bridges[i + 1])
        }
        graphView.linkCanvasObject((link, ctx) => drawLink(ctx, link, colors))
    }

    function findCycles() {
        const cycles = graph.get_cycle_parts()
        const colors = Array.from(cycles).map(i => NODE_COLORS[i])
        
        graphView.nodeCanvasObject((node, ctx) => drawNode(ctx, node, colors))
    }
</script>

<style>
</style>

<div bind:this={container}></div>
<button on:click={findComponents}>Find components</button>
<button on:click={findBridges}>Find bridges</button>
<button on:click={findCycles}>Find cycles</button>