<script lang="ts">
    import { n, nMax, matrix } from './graphData'

    function matrixClicked(e: MouseEvent) {
        const target = e.target as HTMLInputElement
        const i = parseInt(target.dataset.i as string)
        const j = parseInt(target.dataset.j as string)
        $matrix[i][j] = target.checked
        $matrix[j][i] = target.checked
    }
</script>

<label for="n">
    N:
    <input id="n" type="number" min="0" max={nMax} bind:value={$n}/>
</label><br>

Nieghbourness matrix:
<table>
    <tr>
        <th></th>
        {#each Array($n) as _, i}
            <th>{i}</th>
        {/each}
    </tr>
    {#each Array($n) as _, i}
        <tr>
            <th>{i}</th>
            {#each Array($n) as _, j}
                <td>
                    <input data-i={i} data-j={j} type="checkbox" checked={$matrix[i][j]} on:click={matrixClicked}/>
                </td>
            {/each}
        </tr>
    {/each}
</table>
